$custom-color: #005A8D; 

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.bg-primary {
    background-color: $custom-color !important;
    color: $white;
  }

  padding-top: calc(4rem + 64px);
  padding-bottom: 4rem;

  .hero-heading {
    font-size: 2.75rem;
    line-height: 2.65rem;
  }

  .hero-subheading {
    font-size: 1.25rem;
  }

  .hero-avatar {
    width: 15rem;
    border-radius: 50%;
  }

  .hero-avatar {
    width: 15rem;
    animation: avatar-animation 2s infinite;
  }

  .hero-subheading::after {
    content: 'I\'m a Full Stack Developer and Designer |';
    overflow: hidden;
    white-space: nowrap;
    animation: typing 5s steps(60, end) infinite;
    display: block;
    font-weight: bold; 
    font-size: 1.5em; 
    will-change: width;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes avatar-animation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  @include media-breakpoint-up(lg) {
    padding-top: calc(1rem + 85px);
    padding-bottom: 5rem; 

    .hero-heading {
      font-size: 4rem;
      line-height: 3.2rem;
    }

    .hero-subheading {
      font-size: 1.5rem;
    }
  }
}

.custom-section {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $custom-color !important;
  color: $white;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  left: 0;
  top: 150px;
  margin-left: 22px;
  padding-left: 22px;

  @media (max-width: 768px) {
    top: 100px;
    margin-left: 10px;
    padding-left: 10px;
  }
}

.vertical-line {
  width: 1px;
  height: 250px; 
  background-color: #fff;
  margin-top: 5px; 
}

.btn-social {
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.btn-social:hover {
  color: #007bff;
}

.vertical-container {
  position: absolute;
  right: -40px;
  top: 80%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
  position: absolute;
  right: -100px;
  top: 70%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  }
}

.vertical-text {
  transform: rotate(-90deg);
  white-space: nowrap;
  color: #fff;
  border: 1px dashed #fff;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  line-height: 2.2rem;

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 1.8rem;
  }
}

.vertical-line-right {
  width: 1px;
  height: 200px; 
  background-color: #fff;
  margin-top: 140px; 

  @media (max-width: 768px) {
    height: 150px;
    margin-top: 100px;
  }
}