$custom-color: #602080; 

.hero {
  &.bg-primary {
    background-color: $custom-color !important;
    color: $white;
  }

  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;

  .hero-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .hero-subheading {
    font-size: 1.25rem;
  }

  .hero-avatar {
    width: 15rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem; 

    .hero-heading {
      font-size: 4rem;
      line-height: 3.5rem;
    }

    .hero-subheading {
      font-size: 1.5rem;
    }
  }
}
