// Projects Modal 2
#projectModal2.project-modal.modal.fade(tabindex='-1', aria-labelledby='projectModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content.bg-dark.text-white
            .modal-header.border-0
                button.btn-close.text-white(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Projects Modal - Title
                            h2.project-modal-title.text-secondary.text-uppercase.mb-0 Meals Webpack app
                            // Icon Divider
                            .divider-custom
                                 .divider-custom-line.bg-white
                                .divider-custom-icon
                                    i.fas.fa-star.text-white
                                .divider-custom-line.bg-white
                            // Projects Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/images/projects/mealsapp.jpeg', alt='...')
                            // Projects Modal - Text
                            p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window