// Projects Modal 4
#projectModal4.project-modal.modal.fade(tabindex='-1', aria-labelledby='projectModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content.bg-dark.text-white
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', style='background-color: #ff0000; color: #ffffff; border: 2px solid #ffffff;')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Projects Modal - Title
                            h2.project-modal-title.text-uppercase.mb-0 Math Magicians App
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line.bg-white
                                .divider-custom-icon
                                    i.fas.fa-star.text-white
                                .divider-custom-line.bg-white
                            .row
                                .col-lg-6
                                    // Projects Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/images/projects/mathmagicians.png', alt='...')
                                .col-lg-6
                                    // Projects Modal - Text
                                    p.mb-4 Math magicians" is a website for all fans of mathematics. It is a Single Page App (SPA) that allows users to: Make simple calculations. Read a random math-related quote. By building this application, you will learn how to use React.
                                    // Skills
                                    ul.skill-list
                                            li React
                                            li Redux
                                            li JavaScript
                                            li REST API
                                    // Buttons
                                    .row.mb-2
                                        .col-sm-6
                                            a.btn.btn-primary.mr-2.mb-2(href='#', role='button') Project Link
                                        .col-sm-6
                                            a.btn.btn-secondary.mr-2.mb-2(href='#', role='button') Source Code
                            button.btn.btn-primary.mt-2(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window