// Projects Modal 4
#projectModal4.project-modal.modal.fade(tabindex='-1', aria-labelledby='projectModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content.bg-dark.text-white
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close', style='background-color: #ff0000; color: #ffffff; border: 2px solid #ffffff;')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Projects Modal - Title
                            h2.project-modal-title.text-uppercase.mb-0 Math Magicians App
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line.bg-white
                                .divider-custom-icon
                                    i.fas.fa-star.text-white
                                .divider-custom-line.bg-white
                            .row
                                .col-lg-6
                                    // Projects Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/images/projects/mathmagicians.png', alt='...')
                                .col-lg-6
                                    // Projects Modal - Text
                                    p.mb-4 This web application is a fun and interactive platform for mathematics enthusiasts. It provides a simple calculator and a feature to read random math-related quotes.
                                    // Key Features
                                    ul
                                        li Simple calculator
                                        li Random math-related quotes
                                        li Single Page App (SPA)
                                    // Skills
                                    ul.skill-list
                                        li React
                                        li Redux
                                        li JavaScript
                                        li REST API
                                    // Buttons
                                    .row.mb-2
                                        .col-sm-6
                                            a.btn.btn-primary.mr-2.mb-2(href='https://react-math-magicians-xz89.onrender.com', role='button', target='_blank') Project Link
                                        .col-sm-6
                                            a.btn.btn-secondary.mr-2.mb-2(href='https://github.com/yusufyusie/math-magicians', role='button', target='_blank') Source Code
                            button.btn.btn-primary.mt-2(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window