doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Yesuf Fenta's - portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.5.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Fira+Code', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top(role='navigation')
        .container
            a.navbar-brand(href='#page-top') Yesuf Fenta
            button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                | Menu 
                i.fas.fa-bars
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ms-auto
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#projects') Projects
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                    li.nav-item.mx-0.mx-lg-1
                        a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact
        // Hero Section
header.hero.bg-primary.text-white.text-center
    .container.d-flex.align-items-center.flex-column
        // Hero Avatar Image
        img.hero-avatar.mb-5(src='assets/img/avataaars.svg', alt='Avatar')
        // Hero Heading
        h1.hero-heading.text-uppercase.mb-0 Yesuf Fenta
        // Icon Divider
        .divider-custom.divider-light
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-star
            .divider-custom-line
        // Hero Subheading
        p.hero-subheading.font-weight-light.mb-0 Full Stack Developer