// 
// Typography
// 

$font-family-sans-serif: "Lato",
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  roboto,
  "Helvetica Neue",
  arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  'Noto Color Emoji';

$headings-font-family: "Montserrat",
  -apple-system,
  blinkmacsystemfont,
  "Segoe UI",
  roboto,
  "Helvetica Neue",
  arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  'Noto Color Emoji';

$headings-font-weight: 700;
